* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100vh;
    background-image: url(assets/blackheader.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    position: absolute;
    width: 65%;
    height: 90vh;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 40px;
}


.section.active {
    display: flex;
}

button {
    margin: 5px;
    padding: 10px 20px;
    background-color: rgb(73, 90, 84);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-family: "gruppo";
    outline: 0;
    display: inline-block;
    text-align: center;
}


button:hover {
    background-color: rgb(73, 90, 84, .8);
    border: 10px
}

#home {
    color: rgba(224, 221, 226);
    background-color: rgb(73, 90, 84, .6);
}

#home h1 {
    font-size: 90px;
    font-family: "the-artist";
}

#home h2 {
    font-size: 45px;
    font-family: "barlow";
    padding-bottom: 20px;
    color: rgba(224, 221, 226);
}

#home p {
    font-family: "gruppo";
    font-size: 30px
}

#message {
    font-size: 20px;
    font-style: bold;
    font-family: "gruppo";
}

#about {
    background-color: rgb(73, 90, 84, .5);
    color: rgb(224, 221, 226);
}

#about h1,
h3 {
    font-size: 40px;
    font-family: "Gruppo";
    padding-bottom: 20px;
    color: rgba(224, 221, 226);
    font-weight: 200px;
}

#about h2 {
    font-size: 60px;
    font-family: "the-artist";
}

#about p,
li {
    font-family: "barlow";
    font-size: 25px;
    padding-bottom: 10px;
    padding-top: -4px;
}

ul {
    list-style: none;
}

/*--------------------------------------------------*/

#portfolio {
    background-color: rgb(136, 146, 129, .3);
    color: rgb(224, 221, 226);
}

#portfolio h1 {
    font-size: 70px;
    font-family: "the-artist";
    padding-bottom: 20px;
    color: white;
    font-weight: 200px;
}

#portfolio h3 {
    font-size: 45px;
    font-family: "barlow";
    padding-bottom: 20px;
    color: rgba(224, 221, 226);
}

#portfolio p {
    font-family: "barlow";
    font-size: 30px
}

.image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: 0.5s ease;
    box-shadow: 10px 10px 5px rgba(222, 222, 222, .2);
    padding-top: 15px;


}

.row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.portfolio-container:hover .image {
    opacity: 0.3;
}

/*------------- nav ------------*/


.nav {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 15px;
    z-index: 10;
}

.nav button {
    padding: 10px 20px;
    background: rgb(73, 90, 84);
    color: rgba(224, 221, 226);
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.nav button:hover {
    background: #555;
}

/*------- contact bar--------*/

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: rgb(136, 146, 129);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgba(222, 222, 222, .2);
}

.contact-container {
    border-radius: 5px;
    background: rgb(73, 90, 84, .8);
    color: rgba(224, 221, 226);
    padding: 20px;
    box-shadow: 2px 2px 2px 2px rgba(224, 221, 226, .5);
    font-family: "gruppo";
}

/* .contact-bar {
    position: fixed;
    right: 15px;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
} */

/* .vertical-line {
    width: 1px;
    height: 100px;
    background-color: rgb(224, 221, 226);
    border: none;
} */

.column {
    flex-direction: row;
}


.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: rgb(224, 221, 226);
    font-size: 14px;
    text-decoration: none;
    font-family: "barlow"
}

.icon {
    width: 20px;
    height: 20px;
}

.barlow-regular {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.gruppo-regular {
    font-family: "Gruppo", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "the-artist";
    src: url(assets/TheArtist\ Script.otf);
}